.App {
  text-align: center;
}

#search{
  margin: 0 5px;
}

.item{
  margin: 1% 4%;
  text-align: left;
  border: 4px solid lightgray;
  padding: 1%;
}
.searchedItems{
  display: block;
  text-align: right;
  padding: 1% 4%;
}
.sItem{
  display: inline-block;
  padding-left: 15px;
}
.siTitle{
  display: inline;
}
